// App Content
.cms-content{
	position: absolute;
	top: 0;
	left: 25%;
	width: calc(100% - 25%);
	min-height: 100%;
	padding: $segment-padding;
	padding-right: calc(16px + 1.25rem);

	@media (min-width: $widescreen) {
		left: 18%;
		width: calc(100% - 18%);
	}

	&.is-expanded{
		width: calc(100% - (2.5rem + 24px));
		left: calc(2.5rem + 24px);
	}
}

