// Account Image Placeholder
.cms-accountimage{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 32px;
	background: $info;
	border-radius: 50%;

	.icon{
		color: white;
	}
}

.image.is-32x32 img{
	display: block;
	width: 32px;
	height: 32px;
	object-fit: cover;
	object-position: center;
}
