// Shadow Class
.is-shadow-2 {
  box-shadow: $shadow-2;
}

.is-shadow-3 {
  box-shadow: $shadow-3
}

.is-shadow-4 {
  box-shadow: $shadow-4;
}

.is-shadow-6 {
  box-shadow: $shadow-6;
}

.is-shadow-8 {
  box-shadow: $shadow-8;
}

.is-shadow-16 {
  box-shadow: $shadow-16
}

.is-shadow-24 {
  box-shadow: $shadow-24;
}